@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
  <form action="/writer" method="post">
   <label for="location">Sender's Name</label>
   <input id="location" name="location" type="text">
   <label for="sender">Sender's Name</label>
   <input id="sender" name="sender" type="text">
   <label for="recipient">Recipient's Name</label>
   <input id="recipient" name="recipient" type="text">
   <button type="submit">Go!</button>
  </form>
</div>
